@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* common style for main-section */
.create-margin{
    margin-left: 150px;
    margin-right: 150px;
}
/* header-part starts here */
.banner{
    background-image: url('../assets/Hero-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 220px 45px 220px;
}
.container{
    width: 998px;   
    justify-content: center;
    text-align: center;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.contact-btn{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
/* header part end here */

/* main part starts here */
.main-section{
    
}

/* Why web development section start here */
.development{
    width: 946px;
    height: 1240px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 74px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-development{
    padding: 80px 48px 48px 75px;
    width: 750px;
    height: 113px;
    
}
.develop-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.develop-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.work{
    width: 477px;
    height: auto;
    padding-left: 47px;
    background-color:white ;
}
.work-hard{
    width: 850px;
    height: 240px;
    display: flex;
    padding: 48px;
    gap: 99px;
}
.work-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.work-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.work-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}
/* Why web development section end here */

/* Inspiration section starts here */
.Inspiration{
    margin-top: 90px;
}
.Inspiration-heading{
    padding: 0 114px;
    justify-content: center;
    text-align: center;
    margin-bottom: 48px;
}
.inspiration-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration-img{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* Inspiration section end here */
/* Target section starts here */
.target{
    margin-top: 150px;
}
.card-container{
    display: flex;
    gap: 20px;
    margin-top: 48px;
}
.card-box{
    width: 284px;
    height: 340px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.languages{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
}
.learn-more{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
/* Target section end here */